:root {
  /* 标题 */
  --vp-home-hero-name-color: transparent;
  /* 渐变色 */
  --vp-home-hero-name-background: rgb(241, 169, 80);
  --vp-button-brand-bg: rgb(241, 169, 80);
  --vp-button-brand-hover-bg: rgb(245, 183, 108);
  --vp-button-brand-active-bg: rgb(233, 162, 75);
  --vp-c-brand-1: rgb(255, 140, 0);
  --vp-home-hero-image-filter: blur(80px);
  --vp-home-hero-name-background: linear-gradient(
    120deg,
    rgb(241, 169, 80) 40%,
    rgb(255, 140, 0)
  );
  --vp-home-hero-image-background-image: linear-gradient(
    -45deg,
    rgb(255, 193, 118) 50%,
    rgb(255, 193, 118) 50%
  );
}
img[alt='Static Badge'] {
  display: inline-block;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.05);
  border-radius: 10px;
  background-color: #f5f5f5;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.03);
  background-color: rgba(0, 0, 0, 0.1);
}
